@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    outline: none;
    border: none;
}
:root{
    --primary-orange: #FF7A00;
    --white: #ffffff;
    --secondary-blue:#3B3F8C;
    --heading-color: #111827;
    --paragraph-color: #4B5563;
    --placeholder-color: #9CA3AF;
    --card-bg: #F6F7FB;
    --border-color: #E5E7EB;
    --btn-primary: #1E8B0E;
}

.login_sec{
    height: 100dvh;
    
}

.login-container .left{
    height: 100dvh;
    background:linear-gradient(#00000048, #00000048), url('/assets/images/event.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container{
    background-color: var(--white);
    padding: 25px 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #00000010;
}

.login-container .right{
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 22px 0px 0px 22px;
}

.primary-heading{
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 30px;
}

.primary-heading::before{
content: "";
position: absolute;
left: 0px;
width: 60px;
height: 3px;
border-radius: 100px;
background-color: var(--secondary-blue);
bottom: -5px;
}

.secondary-heading{
        font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 10px;
    color: var(--heading-color);
}

.para-primary{
    color:var(--paragraph-color);
    margin: 0px 0px  24px;
    font-size: 14px;
}
.right .form-container{
    width: 100%;
    max-width: 640px;
    margin: auto;
}
form .form-label{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.form-control input{
    font-size: 14px;
    font-weight: 400;
    color: var(--heading-color);
     background-color: var(--card-bg);

}
.form-control{
    padding: 10px 8px;
    background-color: var(--card-bg);
    border-color: var(--border-color);
}
.form-control input::placeholder{
    color:var(--paragraph-color);
}
.form-control i{
    font-size: 20px;
    color: var(--placeholder-color);
    width: 20px;
    height: 20px;
}
.mb16{
    margin-bottom: 16px;
}
.login_sec .form-check .form-check-label{
       font-size: 12px;
    color: var(--paragraph-color);
    padding-top: 6px;
}
.login_sec .form-check .form-check-input{
    width: 20px;
    height: 20px;
}
.login_sec .form-check .form-check-input:checked{
    background-color: var(--secondary-blue);
    border-color: var(--secondary-blue);
}
.login_sec .form-check .form-check-input:focus,.login_sec .form-check .form-check-input:focus-visible,.login_sec .form-check .form-check-input:active{
box-shadow: none;
}

a.forget_link{
    font-size: 12px;
    color: var(--secondary-blue);
    text-decoration: none;
    font-weight: 600;
}

.btn{
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
}

.btn.btn-primary{
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
    transition: 0.3s all ease-in-out;
}
.btn.btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:active{
    background-color: #1b7e0c;
}
.btn.btn-primary:focus{
    box-shadow: 0px 0px 10px #b8ffad;
}



@media  screen and (min-width: 320px) and (max-width:1199px) {
    .login_sec .login-container{
        flex-wrap: wrap;
    }
    .login-container .left{
        height: auto;
    }
        .login-container .left {
        height: auto;
        padding: 80px;
    }
    .login-container .right{
        padding: 30px 16px;
        border-radius: 22px 22px 0px 0px;
    }
    
}
body.dashboard-page{
    background-color: var(--card-bg);
}
.header-section .header-contant{
    margin: 20px;
    padding: 16px 20px;
    background-color: var(--primary-orange);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
}
.header-section .header-contant  .logo-container{
    padding: 10px 10px
}
.header-section .header-contant img.logo-image{
    width: 55px;
    height: 55px;
}

.header-section .header-contant nav.nav ul{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.header-section .header-contant nav.nav ul li:not(:last-child){
    margin-right: 16px;
}
.header-section .header-contant nav.nav ul li a{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}
.header-section .header-contant nav.nav ul li a:hover,
.header-section .header-contant nav.nav ul li a:focus,
.header-section .header-contant nav.nav ul li a:active{
    background-color: var(--white);
color: var(--primary-orange);
    font-weight: 600;
}
.header-section .header-contant nav.nav ul li a:hover svg path,
.header-section .header-contant nav.nav ul li a:focus svg path,
.header-section .header-contant nav.nav ul li a:active svg path{
 fill:var(--primary-orange);

}

.header-section .header-contant nav.nav ul li a.active-item{
background-color: var(--white);
color: var(--primary-orange);
    font-weight: 600;
}

.header-section .header-contant  .search-btn-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px #00000010;
    
}
.header-section .header-contant  .search-btn-header i{
color: var(--primary-orange);
font-size: 20px;
}

.header-contant .right-nav{
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-section .header-contant .right-nav .dropdown button.dropdown-btn{
    padding: 0px;
    background: none;
}
.header-section .header-contant .right-nav .dropdown button.dropdown-btn img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1.5px  solid var(--white);
}

.header-section .header-contant .right-nav .dropdown button.dropdown-btn i{
    font-size: 26px;
    color: var(--white);
}


main{
    padding: 0px 20px
}

.module-container{
    background-color: var(--btn-primary);
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px #00000015;
    margin-bottom: 20px;
}

.module-container ul.tabs-container{
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 0px;
}

.module-container ul.tabs-container .tab-item .tab-link svg{
fill: var(--white);
width: 25px;
}
.module-container ul.tabs-container .tab-item .tab-link{
color: var(--white);
text-decoration: none;
padding:8px;
font-size: 14px;
transition: all 0.2s ease-in-out;
border-radius: 8px;
}
.module-container ul.tabs-container .tab-item .tab-link {
    gap: 15px;
}

.module-container ul.tabs-container .tab-item .tab-link:hover,
.module-container ul.tabs-container .tab-item .tab-link:focus{
    background-color: var(--white);
    color: var(--btn-primary);
    font-weight: 600;
}

.module-container ul.tabs-container .tab-item .tab-link:hover svg,
.module-container ul.tabs-container .tab-item .tab-link:focus svg{
fill: var(--btn-primary);
}


.more{
    padding: 10px;
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--primary-orange);
    box-shadow: 0px 0px 10px 0px #00000015;
}

.more .third-heading{
    font-size: 18px;
    font-weight: 600;
    color: var(--heading-color);
    padding: 0px 0px 10px;
    border-bottom: 1px solid var(--primary-orange);
}

.more .more-nav{
    padding-left: 0px;
    list-style-type: none;
    margin-top: 18px
}
.more .more-nav .more-item .more-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    text-decoration: none;
    border-bottom: 1px solid var(--primary-orange);
}
.more .more-nav .more-item .more-link:not(:last-child){
        border-bottom: 0px solid var(--primary-orange);
}
.more-link .content{
    display: flex;
    align-items: center;
    gap: 8px;
}
.more-link .content span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--primary-orange);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10), inset 0px 0px 10px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}

.more-link .content .bold-font{
    font-size: 14px;
    color: var(--heading-color);
    font-weight: 600;
    margin: 0px 0px 0px;
}
.more-link i{
    font-size: 28px;
    color: var(--primary-orange);
}

.search-filters{
    background-color: var(--white);
    padding: 11px 23px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #00000015;
}

.search-filters .form-control i{
    color: var(--primary-orange);
}

.search-filters .btn.btn-primary{
    background-color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 15px;
    text-transform: capitalize;
}
.post-btn{
    background-color: var(--secondary-blue);
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px 20px;
}
.post-btn span{
    font-weight: 700;
}
.post-btn:hover span{
    color: var(--white);
}

.video-section{
    position: relative;
    padding-top: 50.56%;
    margin-bottom: 8px;
}
.video-section video{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000000;
    border-radius: 8px;
}

.story-box{
    padding: 12px 16px;
    background-color: var(--white);
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.story-card .story{
    width: 82px;
    height: 82px;
    border: 2px solid var(--placeholder-color);
    text-align: center;
    border-radius: 6px;

}
.story-card .story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}
.story-card .story.active-story{
     border: 2px solid var(--primary-orange);
}
.add-story-icon{
padding: 0px;
    margin-top: -6px;
    display: block;
    margin: -10px auto 0px;
    position: relative;
    background: white;
    border-radius: 4px;
}
.story-card .story.active-story i{
    color: var(--secondary-blue);
    margin-top: -10px;
}
.story-card p{
    font-size: 12px;
    text-align: center;
    margin: 6px 0px 0px;
}

.post-card.card{
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 0px 10px #00000015;
}
.post-card .img-container{
    position: relative;
    padding-top: 250px;
}
.post-card .img-container .post-img{
    position: absolute;
    top: 0px;
    right:0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}
.post-card .img-container .profile-container{
    position: absolute;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background-color: #000000b7;
    top: 0px;
    padding: 11px;
    z-index: 2;
}

.post-card .img-container .profile-container .person-img{
    width: 59px;
    height: 59px;
    border-radius: 100px;
    object-fit: cover;
}

.post-card .img-container .profile-container .content .name{
font-size: 14px;
color: var(--white);
font-weight: 700;
margin-bottom: 0px;
}
.post-card .img-container .profile-container .content .btn.btn-primary,
.blog-post .profile-container .content .btn.btn-primary {
    background-color: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px 12px;
    text-transform: capitalize;
}

.post-card .img-container .profile-container .content p,
.blog-post .profile-container .content p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    color: #d3d4d4;
     font-size: 14px;
}
.btn.icon-btn{
background-color: var(--primary-orange);
width: 27px;
height: 27px;
display: flex;
align-items: center;
color: var(--white);
justify-content: center;
border-radius: 100px;
}
.post-content{
    padding: 16px;
    border-bottom: 1px solid #E5E7EB
}
.post-content .post-heading{
    font-size: 18px;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 10px;
}

.post-content  .post-para{
    font-size: 14px;
    color: var(--paragraph-color);
    margin-bottom: 16px;
}
.post-content  .post-para span{
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
   font-size: 14px;
   font-weight: 400;
-webkit-box-orient: vertical;
}
.post-content  .post-para .read-more,
.post-content  .post-para .read-less{
    color: var(--primary-orange);
    font-weight: 500;
    cursor: pointer;
}
.hastags{
    margin-bottom: 0px;
}
.hastags a{
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-orange);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

.actions{
    padding: 8px 16px;
}

.actions .likes i{
    font-size: 22px;
    color: var(--placeholder-color);
}

.actions span{
    font-size: 16px;
    color: var(--placeholder-color);
}

.blog-post .profile-container{
    padding: 11px;
    border-bottom: 1px solid #E5E7EB;
}
.blog-post .profile-container .content .name{
    font-size: 14px;
color: var(--heading-color);
font-weight: 700;
margin-bottom: 0px;
}
.blog-post .profile-container .content p{
 font-size: 14px;
    color: var(--paragraph-color);
}
.searchs{
    width: 100%;
    max-width: 450px;
}

.profile-card{
    background: var(--white);
    box-shadow: 0px 0px 10px #00000010;
    border-radius: 6px;
}
.profile-card .banner-container{
    width: 100%;
    height: 133px;
    border-radius: 6px;
}
.profile-card .banner-container img{
    width: 100%;
    height: 100%;
    object-fit: 6px;

}
.profile-card .profile-photo{
    width: 71px;
    height: 71px;
    border-radius: 6px;
    border: 2px solid var(--primary-orange);
    box-shadow: 0px 0px 1px 4px #ffffff;
}
.profile-contents{
    margin-top: -40px;
    margin-bottom: 10px;

}

.profile-contents h3.name{
 font-size: 18px;
 font-weight: 700;
 color: var(--white);
}

.company-name{
    font-size: 14px;
    color: var(--heading-color);
    margin: 0px 0px 10px;
    font-weight: 700;
    padding: 0px 15px;
}
.copy-website i{
    font-size: 20px;
    color: var(--primary-orange);
}
.copy-website span{
    font-size: 13px;
    color: var(--paragraph-color);
}

.copy-website .copy-btn{
    padding: 6px 10px;
    background-color: var(--secondary-blue);
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}
.copy-website .copy-btn i{
    color: var(--white);
}
.copy-website .copy-btn span{
    font-weight: 600;
    color: var(--white);
}
.new-card{
    border-radius: 6px;
}
.new-card h3.headign-title{
    margin: 0px 0px 10px;
    padding: 10px 15px;
    font-size: 18px;
    color: var(--heading-color);
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
}
.new-card .top-title{
    font-size: 16px;
    font-weight: 700;
    color: var(--paragraph-color);
    margin-bottom: 15px;
}

.new-card .contents{
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
}
.new-card .contents h3{
    font-size: 14px;
    color: var(--heading-color);
    font-weight: 700;
    margin-bottom: 8px;
}

.new-card .contents p{
        font-size: 12px;
    color: var(--paragraph-color);
    font-weight: 400;
    margin-bottom: 0px;

}
.new-card .contents i{
    color: var(--primary-orange);
}
.new-card .btn.btn-secondary{
    background-color: var(--primary-orange);
    border-radius: 6px;
    width: 100%;
    border: 1px solid var(--primary-orange);
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.suggestion{
    margin: 0px;
    font-size: 18px;
    color: var(--heading-color);
    font-weight: 700;
}
.view-all{
    font-size: 13px;
    color: var(--primary-orange);
}

.suggestion-card{
    background-color: var(--white);
    padding: 7px 8px ;
    box-shadow: 0px 0px 10px 0px #00000010;
    margin-bottom: 15px;
    border-radius: 8px;
}
.suggestion-card .user{
    width: 67px;
    height: 67px;
    border-radius: 6px;
/* margin-right: 10px; */
}
.suggestion-card .user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.suggestion-card .contents h3{
    margin-top: 0px;
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 700;
}
.suggestion-card .contents p{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
    color: var(--paragraph-color);
}

.suggestion-card .follow{
    font-size: 13px;
    font-weight: 700;
    background-color: var(--secondary-blue);
    border-radius: 4px;
    padding: 10px 15px;
    color: var(--white);
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px #00000015;
}


@media screen and (max-width: 1199px) {
    .header-section .header-contant{
        margin: 0px 0px 20px;
        border-radius: 0px;
        padding: 16px 16px;
    }
    main  .col-xl-3.pe-0,
     main  .col-xl-3.ps-0{
        padding: 0px 0px;
    }
    .row{
            padding: 0px 8px;
    }
    .header-section .header-contant img.logo-image{
        width: 45px;
        height: 45px;
    }
    .header-section .header-contant .logo-container{
        border-radius: 6px;
        padding: 6px 6px;
    }
    .header-section .navigation-bar {
  position: fixed;
  top: 0;
  left: -250px; /* hidden */
  width: 250px;
  height: 100%;
  background: var(--primary-orange);
  padding-top: 60px;
  transition: left 0.3s ease;
  display: block !important;
}
.side-menu-active {
  left: 0 !important;
  z-index: 9;
}
.navigation-bar.side-menu-active .nav{
    position: relative;
}
#close-btn-menu{
    position: absolute;
    top: -40px;
    right: 10px;
}
.header-section .header-contant nav.nav ul{
    flex-direction: column;
    margin: 10px 16px;
    width: 100%;
    gap: 10px;
}
.header-section .header-contant nav.nav ul li{
    width: 100%;
}
.seemore-btn{
    background-color: transparent;
    border: none;
    padding: 15px ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.drawer-popup{
    height: 0px;
    /* height: 0px; */
    /* opacity: 0; */
    display: none;
    transition: all 0.5s ease-in-out;
}
.drawer-popup.collapsed{
  height: 920px;
        /* height: 100%; */
        /* opacity: 1 !important; */
      /* height: 100%; */
         display: block !important;
}
#mob-col-none{
    display: none;
}
.mob-search-filter{
    flex-direction: column;
    gap: 15px;
}
.mob-search-filter button.post-btn{
    width: 100%;
}
#mid-sec.col-xl-6{
    padding: 0px 0px
}
.searchs{
    width: 100%;
    max-width: 100%;
}
}